@inject IMatDialogService MatDialogService
@inject HttpClient Http


<MatDialogTitle style="display: flex; align-items: center;">
    <div style="flex: 1;">Add Expense</div>
</MatDialogTitle>
<MatDialogContent>
    @if (categories != null)
    {
        <MatList>
            <MatListItem>
                <MatTextField Label="Namn" @bind-Value="BudgetItem.Name" />
            </MatListItem>

            <MatListItem Class="mt-3">
                <MatSelectItem Label="Kategori" @bind-Value="@BudgetItem.Category" Items="@categories">
                    <ItemTemplate>
                        <span>@context?.Name</span>
                    </ItemTemplate>
                </MatSelectItem>
            </MatListItem>

            <MatListItem Class="mt-3">
                <MatNumericUpDownField Label="Summa"
                                       @bind-Value=@BudgetItem.Amount
                                       FieldType="MatNumericUpDownFieldType.Currency"
                                       DecimalPlaces=2>
                </MatNumericUpDownField>
            </MatListItem>

            <MatListItem Class="mt-3">
                <MatButton OnClick="@(_ => CloseDialog())">Cancel</MatButton>
                <MatButton OnClick="@(_ => AddItem())">Add</MatButton>
            </MatListItem>
        </MatList>
    }
</MatDialogContent>
<MatDialogActions>

</MatDialogActions>

@code
{
    public ExpenseTracker.Shared.Models.BudgetItem BudgetItem { get; set; }
    private ExpenseTracker.Shared.Models.Category[] categories;

    [CascadingParameter]
    public MatDialogReference DialogReference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BudgetItem = new BudgetItem();

        categories = await Http.GetFromJsonAsync<ExpenseTracker.Shared.Models.Category[]>(
            "https://localhost:44398/api/Budgets/Categories");
    }

    void CloseDialog()
    {
        DialogReference.Close(null);
    }

    void AddItem()
    {
        DialogReference.Close(BudgetItem);
    }
}