@inject IMatDialogService MatDialogService
@inject HttpClient Http


<MatDialogTitle style="display: flex; align-items: center;">
    <div style="flex: 1;">Lägg till kategori</div>
</MatDialogTitle>
<MatDialogContent>
    <MatList>
        <MatListItem>
            <MatTextField Label="Namn" @bind-Value="Category.Name" />
        </MatListItem>

        <MatListItem Class="mt-3">
            <MatButton OnClick="@(_ => CloseDialog())">Avbryt</MatButton>
            <MatButton OnClick="@(_ => AddItem())">Lägg till</MatButton>
        </MatListItem>
    </MatList>
</MatDialogContent>
<MatDialogActions>

</MatDialogActions>

@code
{
    [Parameter]
    public Category Category { get; set; } = new Category();

    [CascadingParameter]
    public MatDialogReference DialogReference { get; set; }

    void CloseDialog()
    {
        DialogReference.Close(false);
    }

    void AddItem()
    {
        DialogReference.Close(Category);
    }
}