@page "/budget"
@using System.Net.Http
@using ExpenseTracker.Shared.Models
@inject HttpClient Http

<h3>Budget</h3>

@if (budget != null)
{
    <h4>Inkomster</h4>
    <table>
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Summa</th>
            </tr>
            @foreach (var income in budget.Incomes)
            {
                <tr>
                    <td>@income.Category.Name</td>
                    <td>@income.Amount</td>
                </tr>
            }
        </thead>
    </table>

    <h4>Utgifter</h4>
    <table>
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Summa</th>
            </tr>
            @foreach (var expense in budget.Expenses)
            {
                <tr>
                    <td>@expense.Category.Name</td>
                    <td>@expense.Amount</td>
                </tr>
            }
        </thead>
    </table>
}

@code {
    private ExpenseTracker.Shared.Models.Budget budget;

    protected override async Task OnInitializedAsync() =>
        budget = await Http.GetFromJsonAsync<ExpenseTracker.Shared.Models.Budget>("https://localhost:44398/api/Budgets/Base");
}
